<p style="color: green"><%= notice %></p>

<%= render @henreki %>

<div>
  <%= link_to "Edit this henreki", edit_henreki_path(@henreki) %> |
  <%= link_to "Back to henrekis", henrekis_path %>

  <%= button_to "Destroy this henreki", @henreki, method: :delete %>
</div>
